@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --black-fonts-headings: rgba(45, 46, 46, 1);
  --button-font-family: "Inter", Helvetica;
  --button-font-size: 18px;
  --button-font-style: normal;
  --button-font-weight: 500;
  --button-letter-spacing: 0px;
  --button-line-height: normal;
  --dark-green-buttons: rgba(58, 79, 57, 1);
  --earn-superteam-fun-inter-bold-28-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-bold-28-font-size: 28px;
  --earn-superteam-fun-inter-bold-28-font-style: normal;
  --earn-superteam-fun-inter-bold-28-font-weight: 700;
  --earn-superteam-fun-inter-bold-28-letter-spacing: 0px;
  --earn-superteam-fun-inter-bold-28-line-height: 33.599998474121094px;
  --earn-superteam-fun-inter-bold-36-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-bold-36-font-size: 36px;
  --earn-superteam-fun-inter-bold-36-font-style: normal;
  --earn-superteam-fun-inter-bold-36-font-weight: 700;
  --earn-superteam-fun-inter-bold-36-letter-spacing: 0px;
  --earn-superteam-fun-inter-bold-36-line-height: 54px;
  --earn-superteam-fun-inter-bold-48-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-bold-48-font-size: 48px;
  --earn-superteam-fun-inter-bold-48-font-style: normal;
  --earn-superteam-fun-inter-bold-48-font-weight: 700;
  --earn-superteam-fun-inter-bold-48-letter-spacing: 0px;
  --earn-superteam-fun-inter-bold-48-line-height: 57.599998474121094px;
  --earn-superteam-fun-inter-medium-14-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-medium-14-font-size: 14px;
  --earn-superteam-fun-inter-medium-14-font-style: normal;
  --earn-superteam-fun-inter-medium-14-font-weight: 500;
  --earn-superteam-fun-inter-medium-14-letter-spacing: 0px;
  --earn-superteam-fun-inter-medium-14-line-height: 21px;
  --earn-superteam-fun-inter-medium-14-upper-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-medium-14-upper-font-size: 14px;
  --earn-superteam-fun-inter-medium-14-upper-font-style: normal;
  --earn-superteam-fun-inter-medium-14-upper-font-weight: 500;
  --earn-superteam-fun-inter-medium-14-upper-letter-spacing: 0px;
  --earn-superteam-fun-inter-medium-14-upper-line-height: 21px;
  --earn-superteam-fun-inter-medium-18-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-medium-18-font-size: 18px;
  --earn-superteam-fun-inter-medium-18-font-style: normal;
  --earn-superteam-fun-inter-medium-18-font-weight: 500;
  --earn-superteam-fun-inter-medium-18-letter-spacing: 0px;
  --earn-superteam-fun-inter-medium-18-line-height: 27px;
  --earn-superteam-fun-inter-regular-16-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-regular-16-font-size: 16px;
  --earn-superteam-fun-inter-regular-16-font-style: normal;
  --earn-superteam-fun-inter-regular-16-font-weight: 400;
  --earn-superteam-fun-inter-regular-16-letter-spacing: 0px;
  --earn-superteam-fun-inter-regular-16-line-height: 19.200000762939453px;
  --earn-superteam-fun-inter-regular-18-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-regular-18-font-size: 18px;
  --earn-superteam-fun-inter-regular-18-font-style: normal;
  --earn-superteam-fun-inter-regular-18-font-weight: 400;
  --earn-superteam-fun-inter-regular-18-letter-spacing: 0px;
  --earn-superteam-fun-inter-regular-18-line-height: 23.399999618530273px;
  --earn-superteam-fun-inter-regular-20-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-regular-20-font-size: 20px;
  --earn-superteam-fun-inter-regular-20-font-style: normal;
  --earn-superteam-fun-inter-regular-20-font-weight: 400;
  --earn-superteam-fun-inter-regular-20-letter-spacing: 0px;
  --earn-superteam-fun-inter-regular-20-line-height: 30px;
  --earn-superteam-fun-inter-regular-9-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-regular-9-font-size: 9px;
  --earn-superteam-fun-inter-regular-9-font-style: normal;
  --earn-superteam-fun-inter-regular-9-font-weight: 400;
  --earn-superteam-fun-inter-regular-9-letter-spacing: 0px;
  --earn-superteam-fun-inter-regular-9-line-height: 13.5px;
  --earn-superteam-fun-inter-semi-bold-14-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-semi-bold-14-font-size: 14px;
  --earn-superteam-fun-inter-semi-bold-14-font-style: normal;
  --earn-superteam-fun-inter-semi-bold-14-font-weight: 600;
  --earn-superteam-fun-inter-semi-bold-14-letter-spacing: 0px;
  --earn-superteam-fun-inter-semi-bold-14-line-height: 21px;
  --earn-superteam-fun-inter-semi-bold-16-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-semi-bold-16-font-size: 16px;
  --earn-superteam-fun-inter-semi-bold-16-font-style: normal;
  --earn-superteam-fun-inter-semi-bold-16-font-weight: 600;
  --earn-superteam-fun-inter-semi-bold-16-letter-spacing: 0px;
  --earn-superteam-fun-inter-semi-bold-16-line-height: 24px;
  --earn-superteam-fun-inter-thin-14-upper-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-thin-14-upper-font-size: 14px;
  --earn-superteam-fun-inter-thin-14-upper-font-style: normal;
  --earn-superteam-fun-inter-thin-14-upper-font-weight: 100;
  --earn-superteam-fun-inter-thin-14-upper-letter-spacing: 0px;
  --earn-superteam-fun-inter-thin-14-upper-line-height: 21px;
  --earn-superteam-fun-inter-thin-16-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-thin-16-font-size: 16px;
  --earn-superteam-fun-inter-thin-16-font-style: normal;
  --earn-superteam-fun-inter-thin-16-font-weight: 100;
  --earn-superteam-fun-inter-thin-16-letter-spacing: 0px;
  --earn-superteam-fun-inter-thin-16-line-height: 24px;
  --earn-superteam-fun-inter-thin-20-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-thin-20-font-size: 20px;
  --earn-superteam-fun-inter-thin-20-font-style: normal;
  --earn-superteam-fun-inter-thin-20-font-weight: 100;
  --earn-superteam-fun-inter-thin-20-letter-spacing: 0px;
  --earn-superteam-fun-inter-thin-20-line-height: 30px;
  --earn-superteam-fun-inter-thin-9-font-family: "Inter", Helvetica;
  --earn-superteam-fun-inter-thin-9-font-size: 9px;
  --earn-superteam-fun-inter-thin-9-font-style: normal;
  --earn-superteam-fun-inter-thin-9-font-weight: 100;
  --earn-superteam-fun-inter-thin-9-letter-spacing: 0px;
  --earn-superteam-fun-inter-thin-9-line-height: 13.5px;
  --earn-superteam-fun-segoe-UI-emoji-regular-16-font-family: "Segoe UI Emoji",
    Helvetica;
  --earn-superteam-fun-segoe-UI-emoji-regular-16-font-size: 16px;
  --earn-superteam-fun-segoe-UI-emoji-regular-16-font-style: normal;
  --earn-superteam-fun-segoe-UI-emoji-regular-16-font-weight: 400;
  --earn-superteam-fun-segoe-UI-emoji-regular-16-letter-spacing: 0px;
  --earn-superteam-fun-segoe-UI-emoji-regular-16-line-height: 24px;
  --earn-superteam-fun-semantic-button-font-family: "Inter", Helvetica;
  --earn-superteam-fun-semantic-button-font-size: 14px;
  --earn-superteam-fun-semantic-button-font-style: normal;
  --earn-superteam-fun-semantic-button-font-weight: 600;
  --earn-superteam-fun-semantic-button-letter-spacing: 0px;
  --earn-superteam-fun-semantic-button-line-height: 16.799999237060547px;
  --earn-superteam-fun-semantic-cell-font-family: "Inter", Helvetica;
  --earn-superteam-fun-semantic-cell-font-size: 12px;
  --earn-superteam-fun-semantic-cell-font-style: normal;
  --earn-superteam-fun-semantic-cell-font-weight: 500;
  --earn-superteam-fun-semantic-cell-letter-spacing: 0.5px;
  --earn-superteam-fun-semantic-cell-line-height: 16px;
  --earn-superteam-fun-semantic-data-font-family: "Inter", Helvetica;
  --earn-superteam-fun-semantic-data-font-size: 12px;
  --earn-superteam-fun-semantic-data-font-style: normal;
  --earn-superteam-fun-semantic-data-font-weight: 500;
  --earn-superteam-fun-semantic-data-letter-spacing: 0px;
  --earn-superteam-fun-semantic-data-line-height: 20px;
  --earn-superteam-fun-semantic-input-font-family: "Inter", Helvetica;
  --earn-superteam-fun-semantic-input-font-size: 16px;
  --earn-superteam-fun-semantic-input-font-style: normal;
  --earn-superteam-fun-semantic-input-font-weight: 100;
  --earn-superteam-fun-semantic-input-letter-spacing: 0px;
  --earn-superteam-fun-semantic-input-line-height: normal;
  --earn-superteam-fun-semantic-link-font-family: "Inter", Helvetica;
  --earn-superteam-fun-semantic-link-font-size: 18px;
  --earn-superteam-fun-semantic-link-font-style: normal;
  --earn-superteam-fun-semantic-link-font-weight: 600;
  --earn-superteam-fun-semantic-link-letter-spacing: 0px;
  --earn-superteam-fun-semantic-link-line-height: 27px;
  --earn-superteam-fun-semantic-options-font-family: "Inter", Helvetica;
  --earn-superteam-fun-semantic-options-font-size: 14px;
  --earn-superteam-fun-semantic-options-font-style: normal;
  --earn-superteam-fun-semantic-options-font-weight: 400;
  --earn-superteam-fun-semantic-options-letter-spacing: 0px;
  --earn-superteam-fun-semantic-options-line-height: 17px;
  --earnsuperteamfunbiscay: rgba(25, 47, 93, 1);
  --earnsuperteamfunblack: rgba(0, 0, 0, 1);
  --earnsuperteamfunblack-russian: rgba(0, 0, 1, 1);
  --earnsuperteamfunboulder: rgba(119, 119, 119, 1);
  --earnsuperteamfuncamarone: rgba(0, 102, 0, 1);
  --earnsuperteamfuncandlelight: rgba(252, 209, 22, 1);
  --earnsuperteamfuncerulean: rgba(0, 147, 221, 1);
  --earnsuperteamfuncrimson: rgba(206, 17, 38, 1);
  --earnsuperteamfundeep-koamaru: rgba(23, 23, 150, 1);
  --earnsuperteamfunfun-green: rgba(0, 115, 47, 1);
  --earnsuperteamfunheliotrope: rgba(177, 140, 255, 1);
  --earnsuperteamfuninternational-klein-blue: rgba(0, 56, 168, 1);
  --earnsuperteamfunjapanese-laurel: rgba(18, 136, 7, 1);
  --earnsuperteamfunmojo: rgba(189, 61, 68, 1);
  --earnsuperteamfunmonza: rgba(227, 10, 23, 1);
  --earnsuperteamfunmystic: rgba(226, 232, 239, 1);
  --earnsuperteamfunnavy-blue: rgba(0, 0, 136, 1);
  --earnsuperteamfunneon-carrot: rgba(255, 153, 51, 1);
  --earnsuperteamfunred: rgba(255, 0, 0, 1);
  --earnsuperteamfunripe-lemon: rgba(247, 219, 23, 1);
  --earnsuperteamfunsmalt: rgba(0, 51, 153, 1);
  --earnsuperteamfunyellow: rgba(255, 255, 0, 1);
  --font: rgba(9, 83, 2, 1);
  --s: -13.011109352111816px 13.011109352111816px 104.08887481689453px 0px
    rgba(161, 161, 161, 0.1);
  --text-font-family: "Inter", Helvetica;
  --text-font-size: 16px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --theme: rgba(10, 205, 108, 1);
  --ton: rgba(0, 152, 234, 1);
  --white-background: rgba(255, 255, 255, 1);
}